body{
    background-color: #FAD525;
    background-image: url("../images/bg.jpg") ;

}
#container {
    position: absolute;
    font-family: "Times New Roman", Arial, Helvetica, sans-serif;
    text-align: center;
    background: url("../images/mario-bg.jpg") ;
    background-size:cover;
    width: 1920px;
    height: 1080px;
    top:0;
    left:50%;
    margin-left:-960px;
}

#board{
    width: 540px;
    height: 540px;
    background-color: green;
    background: url("../images/soil.png");
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
}

div#container div#board div{
width: 180px;
height:180px;
background-image: url("../images/pipe.png") ;
background-size: cover;
}

div#board div img{
    width: 100px;
    height: 100px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#refreshButton{
    position: absolute;
    background-color: #FAD525;
    left: 1100px;
    border-radius: 25px;
    top: 80px;
}
#nextLevel{
    position: absolute;
    background-color: #FAD525;
    left: 1200px;
    border-radius: 25px;
    top: 80px;
}